 body{
    font-weight: bolder;
    font-family: system-ui;
 }

 h1 {
    color: blue;
    background-color: black;
 }

 h2 {
    color: rgb(255, 0, 215);
    background-color: black;
 }

 h6 {
    color: red;
 }
